   <div class="ubication">
    <div class="subtitle">
        <h2>DESTINOS
            
         </h2>
         <div class="rectangles">
            <div class="a"></div>
            <div class="b"></div>
            <div class="c"></div>
         </div>
         
    </div>
   
   
        
            
   
    <div class="grid">
        <div class="ContentPack" *ngFor="let data of dataplaces">
            <img src="{{data.image}}" alt="">
            <div class="pNContent"><p class="packageName">{{data.name}}</p></div>
            
           <div class="pPContent"> <p class="packagePrice"> desde {{data.price}}USD</p>  </div> 
           <div class="iconsPrincipal">
                    <i class="fa fa-bus"></i>
                    <i class="fa fa-plane"></i>
                    <i class="fa fa-concierge-bell"></i>
                    <i class="fa fa-subway"></i>
                    <i class="fa fa-medkit"></i>
        </div>
        </div>
          
    </div>
</div>

